.dark {
  background: rgb(0, 2, 18);
  box-shadow: 1px 5px 10px rgba(255, 255, 255, 0.7);
  color: white;
}

.dark .nextra-navbar-blur {
  background-color: rgba(0, 2, 18, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.dark a {
  color: #f0f0f0;
}

.dark footer {
  background-color: #000212;
}
